{% extends "pizzas/base.html" %}

{% block page_header %}
<h3>{{ pizza }}</h3>
{% endblock page_header %}

{% block content %}
<p>
    <img src="{{ pizza.image.url }}">
</p>
<ul>
    {% for t in toppings %}
        <li>
            {{ t.topping_name }}
        </li>
    {% empty %}
    <p> There are no signs of life on this pizza. It's just a cheese pizza (toppingless)... </p>
    {% endfor %}
</ul>

<p><a href="{% url 'pizzas:comment' pizza.id %}">Add comment</a></p>

<ul>
    {% for c in comments %}
    <div class="card mb-3"></div>
    <h4 class="card-header">
    {{ c.date_added|date:'M d, Y H:i' }}
    </h4>
    <div class="card-body">
    {{ c.comment_text|linebreaks }}
    </div>
    </div>
    {% empty %}
    <p>There are no comments for this pizza. Please feel free to add one! </p>
    {% endfor %}
</ul>
{% endblock content %}